[submodule "external/bit_span"]
	path = external/bit_span
	url = https://github.com/tudocomp/bit_span
[submodule "external/compact_sparse_hash"]
	path = external/compact_sparse_hash
	url = https://github.com/tudocomp/compact_sparse_hash.git
[submodule "external/separate_chaining"]
	path = external/separate_chaining
	url = https://github.com/koeppl/separate_chaining
[submodule "external/broadwordsearch"]
	path = external/broadwordsearch
	url = https://github.com/koeppl/broadwordsearch
